[Desktop Entry]
Name=osafi-bspwm
Comment=Binary space partitioning window manager
Exec=bspwm -c /etc/osafi/bspwm/bspwmrc 2> ~/.bspwm.err > ~/.bspwm.out
Type=Application
